@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
.raleway-font {
    font-family: "Raleway", sans-serif;
}
/* .banner-section{
    background-image: url("../images/banner.png");
    background-size: 100vh;
    background-repeat: no-repeat;
    background-position: center;
}
 */
.banner_section{
    margin-top: 24px;
    background: url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}